 h3 {
    color: #E50914;
    font-size: 25px;
    font-weight: bold;
  }
  
.index_addresses {
    display: flex;
    justify-content: space-around;
}

img{
    width:80px;
    height:80px;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.index_address {
    display: flex;
    flex-direction: column;
    align-content: center;

}