.main-thumbnail {
  margin-top: 30px;
}

.main-thumbnail .netflix_original {
  font-size: 18px;
  font-weight: 500;
}

.main-thumbnail .recommend-movie {
  padding-top: 15px;
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-thumbnail .video-paly {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.video-paly .thumbnail_play {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2c;
  border-radius: 5px;
  padding: 10px 40px;
  margin-right: 12px;
}

.thumbnail_play .play {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
}

.thumbnail_explain {
  margin-top: 10px;
}

.main-all_contents {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
}

.main-all_contents .Netflix-contents {
  margin-top:40px;
}

.Netflix-contents .contents_name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.Netflix-contents .contents-video {
  padding-top: 16px;
  display: flex;
}

.contents-video img {
  width: 229px;
  height: 130px;
  margin-right: 5px;
}
